@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MuseoSans";
  src: url("/fonts/MuseoSansRounded100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("/fonts/MuseoSansRounded1000.woff") format("woff");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("/fonts/MuseoSansRounded900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("/fonts/MuseoSansRounded700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("/fonts/MuseoSansRounded500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("/fonts/MuseoSansRounded300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.font-greycliff {
  font-weight: 500;
}

body {
  margin: 0;
  font-family: "MuseoSans", Avenir, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-like-border {
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black,
    1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-strong {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.text-shadow-none {
  text-shadow: none;
}

.my-full-height {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}
.rhap_container {
  display: none !important;
}

.text-green-primary {
  color: #35d399;
}

.hello {
  border: 2px solid #35d399;
}
